.bg{
    background-image: url(./cloud.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
#centered {
    height: 100vh; /* Magic here */
    justify-content: center;
    align-items: center;
  }