html:has(.Marketplace), body:has(.Marketplace) {
    background-color: #e9eaea;
}

.Marketplace .header {
    background-color: #222225;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Marketplace .logo {
    content: url(./logo.svg);
}

.custom-color {
    border: 2.5px solid #20f299;
    color: #ffffff !important;
    font-family: 'Mukta', sans-serif !important;
    font-weight: 300 !important;
    font-size: 26px !important;
    white-space: nowrap !important;
}

/* Estilos adicionales para hover o focus si lo deseas */
.custom-color:hover,
.custom-color:focus {
    background-color: #20f299 !important; /* Puedes ajustar el color al hacer hover o focus */
    border-color: #20f299 !important;
    color: #ffffff !important;
}

.custom-color:active {
    color: #222225 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.Marketplace .search-header {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.Marketplace .searcher, .search-wrapper, .search-form {
    width: 100%;
    align-self: flex-start;
}

.Marketplace .search-input {
    border: none;
    padding: 5px 15px 5px 20px;
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    font-size: 26px;
    width: 100%;
    min-width: 250px;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    outline-color: #20f299;
}

.Marketplace .search-input:focus {
    outline-color: #20f299;
}

.Marketplace .searchLabel {
    line-height: 0;
    display: none;
}

.Marketplace .checkForm {
    height: 100%;
}

.Marketplace .mb-3 {
    white-space: nowrap;
    font-family: 'Mukta', sans-serif;
    background-color: #222225;
    color: #ffffff;
    font-weight: 300;
    font-size: 26px;
    padding: 10px 10px;
    accent-color: #20f299;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.Marketplace .checkBox {
    margin: 0px 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.Marketplace .productName {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222225;
}

.Marketplace .mb-2 {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222225;
    margin: 0px;
    padding: 0px;
}

.Marketplace .w-100.col-lg-6.col-md-8.col-sm-10 {
    background-color: transparent;
    border-radius: 0%;
    overflow: hidden;
    border: none;
}

.Marketplace .price {
    background-color: #222225;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    border: none;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Marketplace .price:hover {
    background-color: #20f299;
}

.Marketplace .price:active {
    background-color: #ffffff;
    color: #222225;
}

.Marketplace .productImg {
    border-radius: 0%;
}

.Marketplace .productsList {
    padding: 20px;
}

.Marketplace .noRes {
    font-family: 'Mukta', sans-serif;
    color: #222225;
}

@media (max-width: 1000px) {

    .custom-color {
        font-size: 20px !important;
    }

    .Marketplace .search-input {
        font-size: 20px;
        padding: 6.5px 10px 6.5px 15px;
    }

    .Marketplace .mb-3 {
        font-size: 20px;
    }

    .Marketplace .search-header {
        margin: 20px 20px 0px;
    }

}

