Marketplace {
    height: 100%;
}

.Marketplace {
    background-color: #e9eaea;
    height: 100%;
}

.Marketplace .productName {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222225;
}

.Marketplace .mb-2 {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222225;
    margin: 0px;
    padding: 0px;
}

.Marketplace .w-100.col-lg-6.col-md-8.col-sm-10 {
    background-color: transparent;
    border-radius: 0%;
    overflow: hidden;
    border: none;
}

.Marketplace .price {
    background-color: #222225;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    border: none;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Marketplace .price:hover {
    background-color: #20f299;
}

.Marketplace .price:active {
    background-color: #ffffff;
    color: #222225;
}

.Marketplace .productImg {
    border-radius: 0%;
}

.Marketplace .searcher, .search-wrapper, .search-form {
    width: 100%;
    max-width: none;
}

.Marketplace .search-input {
    border: none;
    padding: 5px 15px 5px 20px;
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    font-size: 28px;
    display: flex;
    width: 100%;
    min-width: 250px;
    max-width: none;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.Marketplace .selectBtn {
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    font-size: 28px;
    border-radius: 0%;
    border: none;
    color: #ffffff;
    white-space: nowrap;
    margin: 10px;
    padding: 5px 10px;
}

.Marketplace .selectBtn:active {
    color: #20f299;
}

.Marketplace .search-header {
    display: flex;
    width: 100%;
    margin: 20px;
}

.Marketplace .productsList {
    padding: 20px;
}

.Marketplace .noRes {
    font-family: 'Mukta', sans-serif;
    color: #222225;
}

.Marketplace .mb-3 {
    white-space: nowrap;
    font-family: 'Mukta', sans-serif;
    background-color: #222225;
    color: #ffffff;
    font-weight: 300;
    font-size: 28px;
    padding: 5px 10px;
    accent-color: #20f299;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-right: 40px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.Marketplace .checkBox {
    margin: 0px 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.Marketplace .header {
    background-color: #222225;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Marketplace .logo {
    content: url(./logo.svg);
}

.Marketplace .userProfile {
    content: url(./profile.svg)
}

