html:has(.PaginaPagar), :has(.PaginaPagar) {
    background-color: #ffffff;
}

.PaginaPagar {
    align-items: center;
    justify-content: center;
}

.PaginaPagar .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PaginaPagar .logo {
    content: url(./logo.svg);
}

.PaginaPagar .userProfile {
    content: url(./profile.svg)
}

.PaginaPagar .mainWrapper {
    padding: 25px 150px 100px;
}

.PaginaPagar .title {
    color: #222225;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.PaginaPagar .listWrapper {
   display: flex;
   align-items: center;
   width: 100%;
   margin-top: 25px;
}

.PaginaPagar .list {
    background-color: #e9eaea;
    color: #222225;
    padding: 25px 50px;
    border-radius: 20px;
    width: 100%;
}

.PaginaPagar .propiedad {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: auto;
}

.PaginaPagar .productName {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.PaginaPagar .priceType {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-align: right;
    margin: auto;
}

.PaginaPagar .priceType:hover {
    color: #20f299;
}

.PaginaPagar .priceType:active {
    color: #ffffff;
}

.PaginaPagar .price {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    margin: auto;
}

.PaginaPagar .totalRow {
    height: 49px;
}

.PaginaPagar .total {
    text-align: right;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
}

.PaginaPagar .horizontalLine {
    margin: 0px 50px;
    color: #ffffff;
    height: 1px;
}

.PaginaPagar .navBtn {

    float: right;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #222225;
    background-color: #ffffff;
    border: 2.5px solid #20f299;
}

.PaginaPagar .navBtn:active {
    opacity: 100%;
    background-color: #20f299;
    border-color: #20f299;
}

