html:has(.PaginaPagar), :has(.PaginaPagar) {
    background-color: #ffffff;
}

.PaginaPagar {
    align-items: center;
    justify-content: center;
}

.PaginaPagar .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PaginaPagar .logo {
    content: url(./logo.svg);
}

.PaginaPagar .userProfile {
    content: url(./profile.svg)
}

.PaginaPagar .mainWrapper {
    padding: 20px 150px 50px;
    background-image: url("./grid.svg");
}

.PaginaPagar .title {
    color: #222225;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.PaginaPagar .listWrapper {
   display: flex;
   align-items: center;
   margin-top: 20px;
}

.PaginaPagar .list {
    margin: auto;
    background-color: #e9eaea;
    color: #222225;
    padding: 25px 50px 15px;
    border-radius: 20px;
    width: 100%;
}

.PaginaPagar .propiedad {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: auto;
    max-width: 180px;
}

.PaginaPagar .productName {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.PaginaPagar .priceType {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-align: right;
    margin: auto;
    max-width: 150px;
}

.PaginaPagar .priceType:hover {
    color: #20f299;
}

.PaginaPagar .priceType:active {
    color: #ffffff;
}

.PaginaPagar .price {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    margin: auto;
    max-width: 125px;
}

.PaginaPagar .totalRow {
    height: 49px;
}

.PaginaPagar .total {
    text-align: right;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
}

.PaginaPagar .horizontalLine {
    margin: 0px 50px;
    color: #ffffff;
    height: 1px;
}

.PaginaPagar .btnWrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PaginaPagar .navBtn {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #222225;
    background-color: #ffffff;
    border: 2.5px solid #20f299;
    box-shadow: 2px 2px 4px #ffffff, -2px -2px 4px #ffffff;
}

.PaginaPagar .navBtn:active {
    opacity: 100%;
    background-color: #20f299;
    border-color: #20f299;
}

@media (min-width: 1500px) {

.PaginaPagar .mainWrapper {
    padding: 25px 200px 50px;
}

}

@media (max-width: 1200px) {

    .PaginaPagar .mainWrapper {
        padding: 15px 50px 50px;
    }

}

@media (max-width: 1000px) {

    .PaginaPagar .title {
        font-size: 36px;
    }

    .PaginaPagar .propiedad {
        font-size: 24px;
        max-width: 125px;
    }

    .PaginaPagar .productName, .PaginaPagar .total {
        font-size: 16px;
    }

    .PaginaPagar .priceType {
        max-width: 125px;
        font-size: 16px;
    }

    .PaginaPagar .price {
        max-width: 115px;
        font-size: 16px;
    }

    .PaginaPagar .btnWrapper {
        margin-top: 20px;
    }

    .PaginaPagar .navBtn {
        font-size: 20px;
    }

}

@media (max-width: 800px) {

    .PaginaPagar .mainWrapper {
        padding: 0px 0px 10px;
    }

    .PaginaPagar .title {
        margin-left: 20px;
    }

    .PaginaPagar .listWrapper {
        margin-top: 10px;
    }

    .PaginaPagar .list {
        border-radius: 0px;
        padding: 15px 20px 10px;
    }

    .PaginaPagar .btnWrapper {
        margin: 20px 20px 10px;
    }

}

